* {
    box-sizing: border-box;
}

  .chewy-regular {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Open Sans", system-ui;
    background-image:radial-gradient(white, rgb(228, 185, 145), rgb(244, 244, 203));
    background-repeat: no-repeat;
}

h1 {
    text-shadow: 3px 2px 3px rgb(76, 169, 169);
    font-family: "Chewy", system-ui;
}

p {
    padding: 0.5em;
}

h2 {
    font-size: 100%;
    text-shadow: 2px 2px 3px #cccccc;
    padding: 1em;
}

section button {
    background-color: rgb(30, 30, 30);
    color: white;
    font-weight:bold;
    border-radius: 7px;
    padding: 0.4em;
    align-items: center;
    margin: 0.5em;
    cursor: pointer;
}

button:hover {
    background-color: lightslategray;
}

button:active {
    background-color: #cccccc;
}

button::first-letter {
    font-size: 125%;
}