* {
    box-sizing: border-box;
}

  .chewy-regular {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Open Sans", system-ui;
}

h1 {
    text-shadow: 2px 2px 3px darkslategrey;
    font-family: "Chewy", system-ui;
}

p {
    padding: 0.5em;
}

h2 {
    font-size: 100%;
    text-shadow: 2px 2px 3px #cccccc;
}

section button {
    background-color: rgb(30, 30, 30);
    color: white;
    font-weight:bold;
    border-radius: 7px;
    padding: 0.25em;
    align-items: center;
    margin: 0.5em;
    cursor: pointer;
}

button:hover {
    background-color: lightslategray;
}

button:active {
    background-color: #cccccc;
}

button::first-letter {
    font-size: 125%;
}